<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Step 1-->
  <!-- SPecifies Log4net config section so call it -->
  <configSections>
    <section name ="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- Source to copy our logs and give a proper log message format  -->
  <log4net>
    <appender name ="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <!-- Filter section which can help in log what sort of info, 7 types Debug,Error, ON, OFF-->
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>